/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "~primeflex/primeflex.css";

.primary-color {
    background-color: black;
}

.secondary-bg-color {
    background-color:  grey;
}

.main-container{
    padding-left: 9px;
    padding-right: 9px;
}

.bg-color {
    background-color: #e0e0e0;
  }
  