<div class="grid mt-3 mb-3 ml-3 mr-3 border-400">
    <div class="col-4">
        <div class="border-500 surface-overlay border-3 border-round align-items-center justify-content-center"
            style="min-height: 350px;">
            <h2 style="text-align: center;">SteffyJK</h2>
            <div style="flex: 1; text-align: center;">
                <p>Software Engineer</p>
            </div>
            <div class="grid ml-3 mr-3">
                <div class="col hover:shadow-8 border-3 border-round border-round-sm font-bold border-500 mr-1 ml-1">
                    <div class="text-center p-3"><i class="pi pi-facebook"
                            style="color: #708090; font-size: 2.5rem"></i></div>
                </div>
                <div class="col hover:shadow-8 border-3 border-round border-round-sm font-bold border-500 mr-1 ml-1">
                    <div class="text-center p-3"><i class="pi pi-linkedin"
                            style="color: #708090; font-size: 2.5rem"></i></div>
                </div>
                <div class="col hover:shadow-8 border-3 border-round border-round-sm font-bold border-500 mr-1 ml-1">
                    <div class="text-center p-3"><i class="pi pi-instagram"
                            style="color: #708090; font-size: 2.5rem"></i></div>
                </div>
                <div class="col hover:shadow-8 border-3 border-round border-round-sm font-bold border-500 mr-1 ml-1">
                    <div class="text-center p-3"><i class="pi pi-github" style="color: #708090; font-size: 2.5rem"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="text-center p-3 border-round-sm bg-primary font-bold ">2</div>
    </div>
</div>

