<div class="grid mt-6 mb-6">
  <div class="col m-2 surface-border border-500 hover:border-700 border-3 border-round surface-overlay" *ngFor="let project of projects">
    <p-card header="{{ project.title }}">
      <img src="https://via.placeholder.com/150" alt="Temporary Image" class="card-image">
      <p class="m-0">
        {{ project.description }}
      </p>
      <div>
        <p>Backend Technologies:</p>
        <div *ngFor="let tech of project.technologies.backend" class="chip">
          {{ tech }}
        </div>
      </div>
      <div>
        <p>Frontend Technologies:</p>
        <div *ngFor="let tech of project.technologies.frontend" class="chip">
          {{ tech }}
        </div>
      </div>
    </p-card>
  </div>
</div>