<div class="main-container">
  <div class="grid bg-color">
    <div *ngFor="let project of projects" class="col-12 md:col-6 lg:col-3">
      <div class="p-3 border-round-sm font-bold">
        <p-card header="{{ project.title }}">
          <p>{{ project.description }}</p>
          <p-fieldset legend="Technologies" class="fieldset-custom">
            <div class="flex-container">
                <div class="left" *ngIf="project.technologies.backend">
                    <h4>Backend</h4>
                    <ul>
                        <li *ngFor="let tech of project.technologies.backend">{{ tech }}</li>
                    </ul>
                </div>
                <div class="right" *ngIf="project.technologies.frontend">
                    <h4>Frontend</h4>
                    <ul>
                        <li *ngFor="let tech of project.technologies.frontend">{{ tech }}</li>
                    </ul>
                </div>
            </div>
        </p-fieldset>
        </p-card>
      </div>
    </div>
  </div>
</div>
