.fieldset-custom .flex-container {
    display: flex;
    flex-wrap: wrap;
}

.fieldset-custom .left, .fieldset-custom .right {
    flex-basis: 100%;
}

@media (min-width: 768px) {
    .fieldset-custom .left, .fieldset-custom .right {
        flex-basis: 50%;
    }
}
