<div class="mt-2 mb-2">
    <p-splitter [panelSizes]="[25, 75]" styleClass="mb-5">
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
                <div class="address-grid">
                    <div class="address-info">
                        <i class="pi pi-map-marker mb-3" style="font-size: 2.5rem"></i>
                        <h3> Ahmedabad | Gujarat</h3>
                    </div>
                    <div class="address-info">
                        <i class="pi pi-phone mb-3" style="font-size: 2.5rem"></i>
                        <h3> Call Me</h3>
                        <div> +91 123456789</div>
                        <div> +91 123456789</div>
                    </div>
                    <div class="address-info">
                        <i class="pi pi-envelope mb-3" style="font-size: 2.5rem"></i>
                        <h3> Email Me</h3>
                        <div><i class="pi pi-envelope"></i> steffy.jk007@gmail.com</div>
                        <div></div>
                    </div>
                    <div class="address-info">
                        <i class="pi pi-clock mb-3" style="font-size: 2.5rem"></i>
                        <h3>Open Hours</h3>
                        <div>Monday - Friday</div>
                        <div>9:00AM - 05:00PM</div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate>
            <section class="contact-section">
                <div class="container bg-color">
                    <h2>Contact Me</h2>
                    <p class="contact-description">Do not hesitate to contact me</p>
                    <form class="contact-form">
                        <div class="form-group">
                            <label for="identity">Name</label>
                            <input type="text" id="identity" name="name" class="form-control"
                                placeholder="Enter your name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" class="form-control"
                                placeholder="Enter your email">
                        </div>
                        <div class="form-group">
                            <label for="object">Reason</label>
                            <input type="text" id="object" name="reason" class="form-control"
                                placeholder="Enter Reason">
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea id="message" name="message" class="form-control"
                                placeholder="Enter your message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </form>
                </div>
            </section>
        </ng-template>
    </p-splitter>
</div>